.footer {
  background: linear-gradient(135deg, #000000, #252323);
  color: #f2f2f2;
  padding: 50px 0;
}

.footer h5 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #406dfe;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons li a:hover {
  color: #4f77f8;
}

.bottom-bar {
  background-color:rgb(21, 21, 22);
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  justify-content: center;
}

.bottom-bar p {
  margin: 0;
  color: #f7f2f2; /* Change to a brighter white */
  font-size: 14px;
  line-height: 70px; /* Vertically center the text */

}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
